<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients List</title>
</head>
<body>
    <a href="/doctors/logout">logout</a>
    <br><br>
    <h2><%= result.generateDrName(result.doctorName) %> Patients List</h2>
    <table border="1">
        <tr>
            <th>No.</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Symptom</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
        <% result.Patients.forEach((element, index) => { %>
            <% if (!element.Reservation.prescription){ %>
                <tr>
                    <td><%= ++index %></td>
                    <td><%= element.patientName %></td>
                    <td><%= convertUmur(element.age) %></td>
                    <td><%= element.Reservation.symptom %></td>
                    <td><img src="/<%= element.Reservation.photo %>" alt=""></td>
                    <% if (!element.Reservation.status){ %>
                        <td><button><a href="/doctors/accept/<%= element.Reservation.PatientId %>/<%= element.Reservation.DoctorId %>">Accept</a></button> || <button><a href="/doctors/reject/<%= element.Reservation.PatientId %>/<%= element.Reservation.DoctorId %>">Reject</a></button></td>
                    <% } else { %>
                        <td><button><a href="/doctors/prescription/<%= element.Reservation.PatientId %>/<%= element.Reservation.DoctorId %>">Prescription</a></button>
                    <% } %>
                </tr>
           <% } %>
    <% }) %>
    </table>
</body>
</html>