<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>List Doctor</title>
</head>
<body>
  <h1>List Doctor</h1>
    <table border>
      <tr>
        <th>Doctor Name</th>
        <th>Schedule</th>
        <th>Action</th>
      </tr>
      <% data.forEach(e => { %>
        <tr>
          <td><%= e.generateDrName() %></td>
          <td><%= e.schedule %></td>
          <td><a href="/patients/<%= idPatient %>/book/<%= e.id %>"> Book </a></td>
        </tr>
      <% }); %>
    </table>
    <br>
    <a href="/patients/<%= idPatient %>/process"> Liat resep </a> <hr>
    <a href="/patients/logout"> Logout </a>
</body>
</html>