<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process</title>
</head>
<body>
    <% if(data.Doctors.length === 0) { %>
        <h1>Belum Booking</h1>
    <% }%>

    <% data.Doctors.forEach(e => { %>
        <% if (e.Reservation.status === false && e.Reservation.prescription === null) { %>
            <h3>Sedang diperiksa</h3>
            <p> Mohon tunggu ya, sedang di periksa oleh <%= e.generateDrName(e.doctorName) %></p> <hr>
        <% } else { %>
            <table border="1">
                <tr>
                    <th>Nama Dokter</th>
                    <th>Resep</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <th><%= e.doctorName %></th>
                    <th><%= e.Reservation.prescription %></th>
                    <td><a href="/patients/<%= data.id %>/process/delete/<%= data.id %>/<%= e.Reservation.DoctorId %>"> Selesai </a></td>
                </tr>
            </table> <hr>
        <% } %>
    <% }); %>

    <a href="/patients/<%= data.id %>"> Back to list Doctor </a>
</body>
</html>